{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-0 col-sm-3 p-0">
        </div>
        <div class="col-12 col-sm-6 narrow info">
                <form method="POST">
                    {% include 'form.html' %}
                    <button class="btn btn-primary" type="submit">Login</button>
                </form>
        </div>
        <div class="col-0 col-sm-3 p-0">
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/background.js"></script>
{% endblock %}