{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row ">
        <div class="col-0 col-sm-4 p-0">
        </div>
        <div class="col-12 col-sm-4 search-box info">
            <p class="details text-center">Register to save your trips and meal plans</p>
            <form method="POST">
                {% include 'form.html' %}
                <button class="btn btn-primary" type="submit">Create</button>
            </form>
        </div>
        <div class="col-0 col-sm-4 p-0">
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/background.js"></script>
{% endblock %}