{% extends 'base.html' %}

{% block styles %}
<style>
    body {
        background-image: url('/static/images/paramos.jpg');
        background-repeat: no-repeat;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid p-0 text-center">
  <div class="text-center text-white">
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <ul>
        <li><b>Username:</b> {{user.username}}</li>
    </ul>
  </div>
</div>
<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-12 col-sm-6 d-flex justify-content-center">
          <div class="narrow info">
            <h3>Trips</h3>
            {% if user.trips %}
             <ul>
                 {% for trip in user.trips %}
                   <li>
                 {% if trip.meals %}
                   <a href="{{url_for('show_meal_plan', trip_id=trip.id)}}">
                 {% else %}
                  <a  href="{{url_for('select_meals',  trip_id=trip.id)}}">
                 {% endif %}
                   {{trip.name}}</a>
                   </li>
                 {% endfor %}
                 <a href="{{url_for('home')}}">Create a new trip</a>
             </ul>
             {% else %}
               <p>You don't have any trips yet</p>
               <a href="{{url_for('home')}}">Create a new trip</a>
             {% endif %}
          </div>
        </div>
        <div class="col-12 col-sm-6 d-flex justify-content-center">
          <div class="narrow info text-white">
            <h3>Meals</h3> 
            {% if user.meals %}
            <ul>
              {% for meal in user.meals %}
              <li>{{meal.title}}</li>
              {% endfor %}
              <a href="{{url_for('show_create_meal_page')}}">Create a new meal</a>
            </ul>
            {% else %}
            <p>You haven't created any meals yet</p>
            <a href="{{url_for('show_create_meal_page')}}">Create a new meal</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
