body {
    background-color: rgb(243, 243, 243);
}
td {
    border: solid black 1px;
    padding: 8px
}

nav {
    background-color: rgb(25, 122, 90);
}

.nav-link {
    color: rgb(245, 235, 181) !important;
}

.nav-link:hover {
    color: white !important;
}



.fa-mountain {
    color: rgb(245, 235, 181) !important;
}

#title {
    color: rgb(46, 44, 32);
}

.i {
    font-size: 3em;
    font-weight: 50;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.details {
    font-size: 1.5em;
    font-weight: 50;
}

#logo {
    height: 60px;
}

#search-list {
    cursor: pointer;
}

.fa-trash {
    cursor: pointer;
}

#desert-pan {
    max-height: 150px;
}

