
{% extends 'base.html' %}

{% macro meal_type(type) %}
<h4 class="text-center m-3">
  {{meal_numbers[type]}}
  {% if meal_numbers[type] != 1 %}
    {% if type == "Lunch"%}
      {{type + "es"}}
    {% else %}
      {{type + "s"}} 
    {% endif %}
  {% else %}
   {{type}} 
  {% endif %}
  </h4>
{% for i in range(meals|length) %}
    {% if meals[i].meals.type_ == type %}
    <div class="accordion" id="accordion">
        <div class="card">
          {% if type == "Breakfast" %}
          <div class="card-header breakfast" id="headingOne">
          {% elif type == "Lunch" %}
          <div class="card-header lunch" id="headingOne">
          {% else %}
          <div class="card-header dinner" id="headingOne">
          {% endif %}
            <h2 class="mb-0">
              <button class="btn text-light" type="button" data-toggle="collapse" data-target="#a{{meals[i].id}}" aria-expanded="true" aria-controls="collapseOne">
                {{meals[i].meals.title}}
              </button>
            </h2>
          </div>
          <div id="a{{meals[i].id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <ul>
                    <h6>Ingredients</h6>
                    {% for ingredient in meals[i].meals.ingredients %}
                        <li>{{ingredient.name}}</li>
                    {% endfor %}
                </ul>
                <ul>
                    <h6>Nutrition Information</h6>
                    {% for key, val in nutrition_data[i].items() %}
                    <li>{{key}}: {{val}}g</li>
                    {% endfor %}
                </ul>
                <ul>
                  <h6>Dietary Information</h6>
                  {% if not meals[i].meals.check_for_dietary_restrictions('vegetarian') %}
                    <li>Vegetarian</li>
                  {% endif %}
                  {% if not meals[i].meals.check_for_dietary_restrictions('vegan') %}
                    <li>Vegan</li>
                  {% endif %}
                  {% if not meals[i].meals.check_for_dietary_restrictions('gluten free') %}
                    <li>Gluten-Free</li>
                  {% endif %}
                  {% if meals[i].meals.check_for_dietary_restrictions('all') %}
                    <h6>Contains</h6>
                    {% for item in meals[i].meals.check_for_dietary_restrictions('all') %}
                      <li>{{item}}</li>
                    {% endfor %}
                  {% endif %}
                </ul>
            </div>
          </div>
        </div>
    </div> 
    {% endif %}  
{% endfor %}
{% endmacro %}

{% block content %}
<h1 class="text-center">{{trip.name}}</h1>
<div class=" detail text-center">You have {{meal_numbers["total_meals"]}}{% if meal_numbers["total_meals"] != 1 %} meals {% else %} meal {% endif %}</div>
<div class="detail text-center">Click on a meal to see it's nutrition information</div>
<div class="container">
  {{ meal_type("Breakfast")}}
  {{ meal_type("Lunch")}}
  {{ meal_type("Dinner")}}
  <a href="{{url_for('select_meals', trip_id=meals[0].trip_id)}}" class="btn btn-primary mt-2 mr-2">Change Meals</a>
  <a href="{{url_for('show_packing_list', trip_id=meals[0].trip_id)}}" class="btn btn-success mt-2">Get printable packing list</a>
</div>
{% endblock %}
