{% extends 'base.html' %}

{% block content %}
<h1 class=" i text-center">{{trip.name}}</h1>
<div class="container mt-4">
  <div class="row justify-content-center">
<table>
    <thead>
      <tr>
        <th>Ingredients</th>
        <th>Amount</th>
        <th>Packed</th>
      </tr>
    </thead>
    <tbody>
    {% for key, val in weights.items() %}
      <tr>
        <td>{{key}}</td>
        <td>{{val}} lbs</td>
        <td></td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td>Total Weight</td>
        <td>{{trip.get_total_food_weight()}} lbs</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>
</div>
{% endblock %}