{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-0 col-sm-3 p-0"> 
        </div>  
        <div class="sol-12 col-sm-6 narrow info">
            <h2 class="text-center">About</h2>
            <p>
                Food packing can be one of the most difficult parts of trip planning. Backcountry meal planner was created to simplify the process by providing information that backcountry users would want to know about their food. It uses a meal based system to calculate food quantities, so you don’t end up carrying extra weight or run out of food. It is designed to be used when planning for fast and light solo trips as well as large group expeditions. Nutrition data is available for each meal, so food can be planned based on calories. Dietary info such as vegetarian, vegan, and gluten-free is also available for each meal, to simplify meal planning for group expeditions. 
            </p>
        </div>
        <div class="col-0 col-sm-3 p-0"> 
        </div>  
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="/static/background.js"></script>
{% endblock %}