{% extends 'base.html' %}
{% block styles %}
<style>
    body {
        background-image: url('/static/images/baker-sunset.jpg');
        background-repeat: no-repeat;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-6 p-0">
            <p class="i text-center">Pack only what <br> you need</p>
        </div>  
        <div class="col-6 p-0">
            
            <p class="i text-center">And nothing <br>more...</p>
        </div>
        
    </div>
    <div class="row align-items-center ">
        <div class="col-0 col-sm-6 text-center text-white details">
            <h3 class="">Plan your meals and get:</h3>
            <ul>
                <li>Nutrition Data</li>
                <li>Dietary Info</li>
                <li>Food Amounts</li>
                <li>Packing Weights</li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 ">
            <div class="narrow info">
                <h3 class="text-center">Start Your Trip</h3>
                <form method="POST">
                {% include 'form.html' %}
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">Select Meals</button>
                        {% if session.get('guest', True) %}
                        <small class="d-block">Create an account/sign in to save your trips</small>
                        {% endif %}
                    </div>
                </form>
            </div>        
        </div>
    </div>
</div>

{% endblock %}