{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-0 col-sm-6 text-center sha">
            <h4 >Plan your meals and get:</h4>
            <ul class="details">
                <li>Nutrition Data</li>
                <li>Dietary Info</li>
                <li>Food Amounts</li>
                <li>Packing Weights</li>
            </ul>
        </div>
        <div class="col-6 p-0">
            <img class="shadow img-fluid" src="{{url_for('static', filename='images/rainer.jpg')}}" alt="">
            <p class="img-ocean i text-center">Pack only what <br> you need</p>
        </div>  
    </div>
    <div class="row align-items-center">
        <div class="col-6 p-0">
            <img class="shadow img-fluid" src="{{url_for('static', filename='images/mountain-run.jpg')}}" alt="">
            <p class="img-mtn i text-center">And nothing <br>more...</p>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-box border pt-2">
                <h3 class="text-center">Start Your Trip</h3>
                <form method="POST">
                {% include 'form.html' %}
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Select Meals</button>
                    {% if session.get('guest', True) %}
                    <small class="d-block">Create an account/sign in to save your trips</small>
                    {% endif %}
                </div>
                </form>
            </div>        
        </div>
    </div>
</div>

{% endblock %}